# Binaries (Each user must provide their own)
bin/yt-dlp
bin/ffmpeg
bin/node
bin/ffprobe

# Downloaded content
downloads/
*.3gp
*.ape
*.ass
*.avi
*.desktop
*.f4v
*.flac
*.flv
*.gif
*.jpeg
*.jpg
*.lrc
*.m4a
*.m4v
*.mhtml
*.mkv
*.mov
*.mp3
*.mp4
*.mpg
*.mpga
*.oga
*.ogg
*.opus
*.png
*.sbv
*.srt
*.ssa
*.swf
*.tt
*.ttml
*.url
*.vtt
*.wav
*.webloc
*.webm
*.webp

# Logs and temporary files
*.log
tmp/